<div id="page-wrapper">
<div class="container-fluid">
<div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Editing Team Member privileges</h4> </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><%= link_to "View Users", :back %></li> | 
                <li><a href="#" class="active">Edit User</a></li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="row">
<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
        <h3 class="box-title">Edit <%= @team.user.username %></h3>
        <div class="table-responsive">
        <%= render 'form', team: @team, project_id: @project.id %>
        </div>
    </div>
</div>
</div>
</div>
<!-- /.container-fluid -->
<footer class="footer text-center"> 2020 &copy; Basecamp1 brought to you by outsoureceglobal.com </footer>
</div>




