/* line 2, app/assets/stylesheets/sessions.scss */
body {
  background: #eee !important;
}

/* line 6, app/assets/stylesheets/sessions.scss */
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* line 11, app/assets/stylesheets/sessions.scss */
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 18, app/assets/stylesheets/sessions.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}

/* line 23, app/assets/stylesheets/sessions.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 27, app/assets/stylesheets/sessions.scss */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

/* line 32, app/assets/stylesheets/sessions.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 37, app/assets/stylesheets/sessions.scss */
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 43, app/assets/stylesheets/sessions.scss */
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
